<html>
	<head>
		<title>Simulation APP</title>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <style type="text/css">
        </style>
	</head>
	<body>
		<h1>Hello, This is Simulation APP!</h1>
        <hr/>
        {% for s in sim_list %}
            <div class="simulation">
            <div><h3>{{s}}</h3></div>
	    {% endfor %}
        <div class="new_simulation">
            <form action="addsim" method="post">
                <span class="label">DCTCP</span>
                <select class="value" name="dctcp">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <input type="submit" value="Add" />
            <form>
        <div>
	</body>
</html>
