<html>
	<head>
		<title>Simulation APP</title>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <style type="text/css">
        </style>
	</head>
	<body>
        {%include 'sim/nav.html' %}
        {% for s in sim_list %}
            <div class="simulation">
            <div><h3>{{s}}</h3></div>
	    {% endfor %}
        <div class="new_simulation">
            <form action="addsim" method="post">
                <span class="label">TCP Type</span>
                <select class="value" name="tcptype">
                    <option value="tcp">TCP</option>
                    <option value="dctcp">DCTCP</option>
                    <option value="d2tcp">D2TCP</option>
                </select>
                <input type="submit" value="Add" />
            <form>
        <div>
	</body>
</html>
