<html>
	<head>
		<title>Simulation APP</title>
		<meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <style type="text/css">
        </style>
	</head>
	<body>
		<h1>Simulation APP, this is Plot page!</h1>
        <hr/>
        {% for s, img_list in img_dict.iteritems %}
        <div class="simulation">
            <div><h3>{{s}}</h3></div>
            {% for img in img_list %}
            <div class="img">
                <img src="{{img}}" />
            </div>
	        {% endfor %}
	    {% endfor %}
        </div>
	</body>
</html>
